@import './colors.scss';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body, input {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
}

body {
  background-color: $background;
  -webkit-font-smoothing: antialiased;
  color: $black;
}

input {
  border: none;
  outline: none;
}

button {
  background-color: $primary;
  color: $white;
  cursor: pointer;
  
  line-height: 3rem;  
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  padding: 0 1rem;

  transition: 0.2s;

  &:hover {
    filter: brightness(120%);
  }
}

[disabled] {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    filter: none;
  }
}
