@import '../../styles/colors.scss';

.signupWrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;


  .link {
    text-align: center;
    color: $primary;
    margin-top: 1rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}